/*Below is the CSS for the Layout of the Page */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}


/*Below is the CSS for the Hero Image */

.HeroImage {
background-image: url(./Case-Study/Images/CatHeroImage.png);
background-size: 1800px;
background-position: 1vh;
width: auto;
height: 700px;
}

.HeroImage h1{
  font-family: 'Fraunces', serif;
  font-size: 88px;
  font-weight: 700;
  line-height: 91px;
  color: #586165 ;
  justify-content: center;
  padding-top: 200px;
  }

.HeroImage h2{
  font-family: 'Karla', sans-serif;
  font-size: 22px;
  line-height: 31px;
  color: #586165 ;
}



.backstory{
  font-family: 'Fraunces', serif;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 35px;
  margin-bottom: 35px;
  
}

.backstory h1 {
    display: block;
    font-family: 'Fraunces', serif;
    font-size: 45px;
    color: #88368A;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    }

.backstory h3 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 22px;
  color: #586165;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.backstory p {
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

#Problem {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  }

#Problem h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#Problem p {
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ClientGoals {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  margin-bottom: 100px;
  }

#ClientGoals h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#ClientGoals p {
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Insight{
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Insight h1 {
    display: block;
    font-family: 'Fraunces', serif;
    font-size: 45px;
    color: #88368A;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Insight h3 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 22px;
  color: #586165;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.CompAnalysis{
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5x;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.CompAnalysis h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.CompAnalysis h3 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 22px;
  color: #586165;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.CompAnalysis p {
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 0px;
  padding-bottom: 5px;
}

.pets{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 0px;
} 

#UserInterviews{
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#UserInterviews h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#UserInterviews h3 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 22px;
  color: #586165;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

#UserInterviews p {
   font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

#Solutions{
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#Solutions h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#Solutions p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

#Future{
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.Future h1 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 45px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 0px;
}

#Cards{
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 0px;
}

#Cards h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#Cards p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cardSortCat h2{
  margin-top: 40px;
}

#moody{
width: 70%;
height: 70%;
justify-content: center;
align-items: center;
display: flex;
margin: auto;
}

.row {
  padding-top: 0px;
}

#Storyboard {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#Storyboard h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#Storyboard p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

.WFrams {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.WFrams h1 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 45px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#IntWires {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#IntWires h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#IntWires p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

#loficats {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

#Styleguide {
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#Styleguide h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#Styleguide p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

#HiWires {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#HiWires h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#HiWires p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

#Focal {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 40px;
}

#Focal h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#Focal p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile{
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.mobile h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobile p {
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 0px;
  padding-bottom: 00px;
}

#cellpic {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

#Proto{
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  margin-bottom: 40px;
}

#Proto h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Features{
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 0px;
  padding-bottom: 10px;
}

.Testing{
  font-family: 'Fraunces', serif;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.Testing h1 {
    display: block;
    font-family: 'Fraunces', serif;
    font-size: 45px;
    color: #88368A;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

#AB{
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#AB h2 {
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #88368A;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 5px;
}

#AB p {
  display: block;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #586165;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 45px;
  padding-right: 5px;
}

#picsRedo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.NextSteps {
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.Final {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}